@font-face {
  font-family: Vazir;
  src: url("../../fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: Vazir;
  src: url("../../fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

body, body::-webkit-input-placeholder {
  display: -webkit-box;
  display: flex;
  font-family: "Vazir";
  color: white;
  font-weight: 300;
  top: 0;
  left: 0;
  overflow: hidden; }

.wrapper, .container, .container__overlay .overlay__panel, .terms, .check {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center; }

.container__overlay, .container__overlay .overlay, .container__overlay .overlay__panel {
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Vazir";
  font-weight: 300; }

html {
  font-size: 10px; }

h3 {
  font-weight: bold; }

.wrapper {
  background: #161a23;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.container {
  background: #7231cf;
  background: linear-gradient(90deg, #bc38c9 0%, #7231cf 100%);
  font-size: 1.6rem;
  border-radius: 1rem;
  box-shadow: 0 1.4rem 2.8rem rgba(0, 0, 0, 0.25), 0 1rem 1rem rgba(0, 0, 0, 0.22);
  margin: 5rem;
  width: 90rem;
  min-width: 72rem;
  position: relative;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  z-index: 99; }
  .container__register {
    width: 50%;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .container__signin {
    width: 50%; }
  .container__overlay {
    position: absolute;
    top: 0;
    left: 0%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 100; }
    .container__overlay .overlay {
      background-color: #fff;
      color: black;
      position: relative;
      left: 0%;
      height: 100%;
      width: 200%;
      -webkit-transform: translateX(0);
      transform: translateX(0);
      border-radius: 1rem; }
      .container__overlay .overlay__panel {
        position: absolute;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        padding: 0 4rem;
        text-align: center;
        top: 0;
        height: 100%;
        width: 50%;
        -webkit-transform: translateX(0);
        transform: translateX(0); }
      .container__overlay .overlay--right {
        -webkit-transform: translateX(0);
        transform: translateX(0); }
      .container__overlay .overlay--left {
        right: 0;
        -webkit-transform: translateX(0);
        transform: translateX(0); }
      .container__overlay .overlay__button--signin {
        position: absolute;
        bottom: 5rem; }
      .container__overlay .overlay__button--register {
        position: absolute;
        bottom: 10.5rem; }
      .container__overlay .overlay__text--signin {
        font-size: 2rem; }
      .container__overlay .overlay__text--register {
        margin-bottom: 15rem; }
      .container__overlay .overlay__logo {
        top: 0;
        margin-top: 6rem;
        position: absolute;
        border-radius: 50%;
        width: 15rem;
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3); }
        .container__overlay .overlay__logo:hover {
          box-shadow: 0 1.4rem 2rem rgba(0, 0, 0, 0.3);
          width: 16rem;
          -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s; }
      .container__overlay .overlay__image {
        width: 90%;
        margin-bottom: 4rem; }

.container.right-panel-active .container__overlay {
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.container.right-panel-active .overlay {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.container.right-panel-active .overlay--right {
  -webkit-transform: translateX(0);
  transform: translateX(0); }

.container.right-panel-active .overlay--left {
  -webkit-transform: translateX(0%);
  transform: translateX(0%); }

.btn {
  padding: 1.5rem 4rem;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-weight: 300;
  position: relative;
  transition: 0.3s;
  border-radius: 5rem;
  letter-spacing: 0.075rem;
  cursor: pointer;
  width: 15rem;
  padding: 1.5rem 1.5rem;
  font-size: 1.8rem;
  border: none; }
  .btn__form--register {
    background: #fff;
    color: #272733;
    margin-bottom: 1rem; }
    .btn__form--register:hover {
      box-shadow: inset 0 0 0 30px #272733;
      color: #fff; }
  .btn__form--signin {
    background: #fff;
    color: #272733;
    margin-top: 2rem; }
    .btn__form--signin:hover {
      box-shadow: inset 0 0 0 30px #272733;
      color: #fff; }
  .btn__overlay--register {
    background: linear-gradient(to right, #7231cf 0%, #c33ca6 68%, #ee3fce 100%);
    color: #fff; }
    .btn__overlay--register:hover {
      box-shadow: inset 0 0 0 30px #272733;
      color: #fff; }
  .btn__overlay--signin {
    background: linear-gradient(to right, #7231cf 0%, #c33ca6 68%, #ee3fce 100%);
    color: #fff; }
    .btn__overlay--signin:hover {
      box-shadow: inset 0 0 0 30px #272733;
      color: #fff; }

form {
  padding: 2rem 0;
  position: relative;
  z-index: 2; }
  form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 0.1rem solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 30rem;
    border-radius: 0.3rem;
    padding: 1.5rem 1.5rem;
    margin: 0 auto 1rem auto;
    display: -webkit-inline-box;
    display: inline-flex;
    text-align: center;
    font-size: 2.2rem;
    color: white;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
    font-weight: 300; }
    form input::-webkit-input-placeholder {
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.8); }
    form input::-moz-placeholder {
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.8); }
    form input::-ms-input-placeholder {
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.8); }
    form input::placeholder {
      font-size: 2rem;
      color: rgba(255, 255, 255, 0.8); }
    form input:hover {
      background-color: rgba(255, 255, 255, 0.4); }
    form input:focus::-webkit-input-placeholder {
      opacity: 0; }
    form input:focus::-moz-placeholder {
      opacity: 0; }
    form input:focus:-ms-input-placeholder {
      opacity: 0; }
    form input:focus::-ms-input-placeholder {
      opacity: 0; }
    form input:focus::placeholder {
      opacity: 0; }

.form--label {
  font-size: 5rem;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
  font-weight: 200;
  padding-bottom: 2rem; }

.signin__form input:focus {
  background-color: white;
  width: 35rem;
  color: #257d9f; }

.register__form input:focus {
  background-color: white;
  width: 35rem;
  color: #7231cf; }

.fa {
  color: white;
  position: absolute;
  padding-top: 2rem;
  left: 10rem; }

form input:focus + #register--icons {
  color: #7231cf;
  left: 7rem;
  -webkit-transition: 0.25s;
  transition: 0.25s; }

form input:focus + #signin--icons {
  color: #bc38c9;
  left: 7rem;
  -webkit-transition: 0.25s;
  transition: 0.25s; }

.terms {
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  left: 0;
  overflow: hidden;
  background-color: white;
  color: black;
  font-size: large;
  border-radius: 0.5rem;
  width: 80rem;
  padding: 3rem; }

.terms .reload {
  text-decoration: none;
  border-radius: 0.3rem;
  background-color: #bc38c9;
  color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 0;
  padding-bottom: 1rem;
  padding: 1.5rem 1.5rem;
  width: 150rem;
  cursor: pointer;
  font-size: 1.8rem;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s; }

.background {
  pointer-events: none; }

.element--one {
  position: absolute;
  bottom: -5rem;
  left: 12rem;
  -webkit-animation: elm_o 1s infinite ease-in-out;
  animation: elm_o 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
  z-index: -1; }

.element--two {
  position: absolute;
  top: 17rem;
  left: 22rem;
  -webkit-animation: elm_t 1s infinite ease-in-out;
  animation: elm_t 1s infinite ease-in-out;
  animation-direction: alternate-reverse; }

.element--three {
  position: absolute;
  bottom: 10rem;
  left: -1rem;
  -webkit-animation: elm_th 1s infinite ease-in-out;
  animation: elm_th 1s infinite ease-in-out;
  animation-direction: alternate-reverse; }

.element--four {
  position: absolute;
  top: 0rem;
  left: 1rem;
  -webkit-animation: elm_o 1s infinite ease-in-out;
  animation: elm_o 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
  z-index: 1; }

.element--five {
  position: absolute;
  top: 5rem;
  bottom: 0rem;
  right: 0rem;
  -webkit-animation: elm_fi 1s infinite ease-in-out;
  animation: elm_fi 1s infinite ease-in-out;
  animation-direction: alternate-reverse; }

.element--six {
  position: absolute;
  top: 4.5rem;
  right: 0rem;
  z-index: 1;
  bottom: 0rem;
  right: 0rem;
  -webkit-animation: elm_f 1s infinite ease-in-out;
  animation: elm_f 1s infinite ease-in-out;
  animation-direction: alternate-reverse; }

.element--seven {
  position: absolute;
  top: 4.5rem;
  right: 0rem;
  z-index: 1;
  bottom: 0rem;
  right: 0rem;
  -webkit-animation: elm_f 1s infinite ease-in-out;
  animation: elm_f 1s infinite ease-in-out;
  animation-direction: alternate-reverse; }

.element--eight {
  position: absolute;
  top: 4.5rem;
  right: 0rem;
  z-index: 1;
  -webkit-animation: elm_f 1s infinite ease-in-out;
  animation: elm_f 1s infinite ease-in-out;
  animation-direction: alternate-reverse; }

.element--nine {
  position: absolute;
  bottom: 0rem;
  right: 54rem;
  -webkit-animation: elm_o 1s infinite ease-in-out;
  animation: elm_o 1s infinite ease-in-out;
  animation-direction: alternate-reverse;
  z-index: 1; }

.element--nine img {
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1); }

.element--five img {
  height: 90vh; }

.element--six img {
  height: 100vh; }

.element--seven img {
  height: 100vh; }

.element--eight img {
  height: 100vh; }

.check {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  margin: 2rem;
  margin-right: 9rem; }

.switch {
  margin-right: 2.5rem; }

.check2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin: 2rem;
  padding-right: 5.7rem; }

.switch2 {
  position: absolute;
  left: 7.5rem; }

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden; }

label {
  cursor: pointer;
  text-indent: -999.9rem;
  width: 5rem;
  height: 2.5rem;
  background: grey;
  display: block;
  border-radius: 2.5rem;
  position: relative; }

label:after {
  content: "";
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 2.25rem;
  height: 2.25rem;
  background: #fff;
  border-radius: 2.25rem;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

input:checked + label {
  background: #43cea2; }

input:checked + label:after {
  left: calc(100% - 0.25rem);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

label:active:after {
  width: 3.25rem; }

@-webkit-keyframes elm_o {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px); } }

@keyframes elm_o {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px); } }

@-webkit-keyframes elm_t {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px); }
  100% {
    -webkit-transform: translatey(10px);
    transform: translatey(10px); } }

@keyframes elm_t {
  0% {
    -webkit-transform: translatey(0px);
    transform: translatey(0px); }
  100% {
    -webkit-transform: translatey(10px);
    transform: translatey(10px); } }

@-webkit-keyframes elm_th {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes elm_th {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@-webkit-keyframes elm_fi {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px); } }

@keyframes elm_fi {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); }
  100% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px); } }

@-webkit-keyframes elm_f {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }

@keyframes elm_f {
  0% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px); }
  100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px); } }
